* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container .nav-item .dropdown {
  z-index: 999;
  position: relative;
  background-color: aqua;
}
.container ul {
  transition: 1s;
}
.container ul .fn-item-active {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #E98970;
}
@media (max-width: 990px) {
  .container ul .fn-item-active {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background-color: #E98970;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 3px;
  }
}
.container ul li {
  margin: 0 20px;
  padding: 5px 0;
}
.container ul li:hover {
  color: #E98970;
}
.container ul li .nav-link:hover {
  background-color: #E98970;
}
.container ul li ul .dropdown-menu {
  z-index: 999;
  background-color: #2D487C;
}
.container ul li .dropdown-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #1b1919;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border-radius: 5px;
  transition: 1s;
  z-index: 9999;
  position: relative;
}
.container ul li .dropdown-item:hover {
  color: white;
  background-color: #E98970;
}
.container ul li .fn-item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #2D487C;
  text-decoration: none;
}
.container ul li .fn-item:hover {
  color: #E98970;
}
@media (max-width: 990px) {
  .container ul li .fn-item {
    width: 100%;
    height: 45px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 1s;
  }
  .container ul li .fn-item:hover {
    color: white;
    background-color: #E98970;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 578px) {
  .container {
    max-width: 500px;
  }
}

nav {
  background: white;
  z-index: 9999;
}

.navbar-toggler {
  background: white;
  color: #FFFFFF;
}

.fa-paper-plane {
  margin-left: 10px;
}

.btn {
  width: 159;
  height: 46px;
  background-color: #E98970;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.btn:hover {
  box-shadow: -6px -6px 6px rgba(242, 182, 182, 0.75), 6px 6px 6px rgba(242, 182, 182, 0.75);
}

.fn-hero {
  background-image: linear-gradient(white 37%, #E2ECFF 100%);
}

.fn-hero-main {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 1500px;
  margin-top: -400px;
}
.fn-hero-main .fn-hero-left {
  margin-top: 170px;
  max-width: 50%;
  width: 50%;
  margin-top: 150px;
}
.fn-hero-main .fn-hero-left .fn-hero-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 60px;
  color: #2D487C;
}
.fn-hero-main .fn-hero-left .fn-hero-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
}
.fn-hero-main .fn-hero-left .fn-button-primary {
  z-index: 1;
  border: none;
  width: 155px;
  height: 53px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  letter-spacing: 1px;
}
.fn-hero-main .fn-hero-left .fn-button-primary:hover {
  background: #fd6039;
  box-shadow: -6px -6px 6px rgba(242, 182, 182, 0.75), 6px 6px 6px rgba(242, 182, 182, 0.75);
  transform: rotateX(100%);
}
.fn-hero-main .fn-hero-right {
  max-width: 40%;
  width: 40%;
  margin-top: 150px;
  position: relative;
}
.fn-hero-main .fn-hero-right .fn-circle {
  position: absolute;
  left: -50px;
  top: -25px;
  width: 20%;
}
.fn-hero-main .fn-hero-right .fn-trigle {
  position: absolute;
  left: -80px;
  top: 400px;
  width: 35%;
}
.fn-hero-main .fn-hero-right .fn-hero-images {
  position: absolute;
  left: 380px;
  top: -35px;
  width: 20%;
}
.fn-hero-main .fn-hero-right .fn-hero-image {
  width: 100%;
  box-shadow: 25px 25px #f18469;
  z-index: 999;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fn-hero-main {
    width: 100%;
    max-width: 100%;
    margin-top: -140px;
  }
  .fn-hero-main .fn-hero-left {
    width: 100%;
    max-width: 100%;
    margin-top: 130px;
    text-align: center;
  }
  .fn-hero-main .fn-hero-left .fn-hero-title {
    font-size: 40px;
    line-height: 1.3em;
    margin-bottom: 12px;
    width: 100%;
  }
  .fn-hero-main .fn-hero-right {
    width: 100%;
    max-width: 100%;
    margin-top: -30px;
  }
  .fn-hero-main .fn-hero-right .fn-trigle {
    position: absolute;
    left: -80px;
    top: 600px;
    width: 35%;
    width: 25%;
  }
  .fn-hero-main .fn-hero-right .fn-hero-images {
    left: 460px;
    top: -45px;
    width: 20%;
  }
}
@media screen and (max-width: 578px) {
  .fn-hero-main {
    margin-top: 0px;
    width: 100%;
    max-width: 100%;
    margin-top: -200px;
  }
  .fn-hero-main .fn-hero-left {
    width: 100%;
    max-width: 100%;
    margin-top: 150px;
  }
  .fn-hero-main .fn-hero-left .fn-hero-title {
    font-size: 40px;
    line-height: 1.3em;
    margin-bottom: 12px;
  }
  .fn-hero-main .fn-hero-right {
    width: 100%;
    max-width: 100%;
    margin-top: -150px;
  }
  .fn-hero-main .fn-hero-right .fn-trigle {
    left: -50px;
    top: 450px;
    width: 35%;
    width: 25%;
  }
  .fn-hero-main .fn-hero-right .fn-hero-images {
    left: 374px;
    top: -45px;
    width: 20%;
  }
}

.fn-service-main {
  display: flex;
  align-items: center;
  margin-top: 90px;
  justify-content: center;
  margin-top: -150px;
  position: relative;
  top: 60px;
  margin-bottom: 300px;
  transition: 8s;
}
.fn-service-main .animate__fadeInLeft {
  transition: 5s;
}
.fn-service-main .fn-service-satu {
  max-width: 30%;
  width: 30%;
  display: flex;
  height: 165px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: -1px -1px 1px rgba(209, 200, 200, 0.75), 1px 1px 1px rgba(209, 200, 200, 0.75);
}
.fn-service-main .fn-service-satu .fn-images {
  margin-right: 20px;
}
.fn-service-main .fn-service-satu .fn-Advice {
  width: 200px;
  height: 72px;
}
.fn-service-main .fn-service-satu .fn-Advice .fn-fully-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
}
.fn-service-main .fn-service-satu .fn-Advice .fn-fully-desc {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  color: #7A7A7A;
  margin-top: 25px;
}
.fn-service-main .fn-service-dua {
  max-width: 30%;
  width: 30%;
  display: flex;
  height: 165px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  margin: 0 20px;
  box-shadow: -1px -1px 1px rgba(209, 200, 200, 0.75), 1px 1px 1px rgba(209, 200, 200, 0.75);
}
.fn-service-main .fn-service-dua .fn-images-profesional {
  margin-right: 20px;
}
.fn-service-main .fn-service-dua .fn-profesional-main {
  width: 200px;
  height: 72px;
}
.fn-service-main .fn-service-dua .fn-profesional-main .fn-profesional-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
}
.fn-service-main .fn-service-dua .fn-profesional-main .fn-profesional-desc {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  color: #7A7A7A;
  margin-top: 25px;
}
.fn-service-main .fn-service-tiga {
  max-width: 30%;
  width: 30%;
  display: flex;
  height: 165px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: -1px -1px 1px rgba(209, 200, 200, 0.75), 1px 1px 1px rgba(209, 200, 200, 0.75);
}
.fn-service-main .fn-service-tiga:hover {
  background: #F7F6F6;
}
.fn-service-main .fn-service-tiga .fn-images-trasparent {
  margin-right: 20px;
}
.fn-service-main .fn-service-tiga .fn-trasparent-main {
  width: 200px;
  height: 72px;
}
.fn-service-main .fn-service-tiga .fn-trasparent-main .fn-trasparent-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
}
.fn-service-main .fn-service-tiga .fn-trasparent-main .fn-trasparent-desc {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  color: #7A7A7A;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .fn-service-main {
    flex-direction: column;
    margin: 0;
    margin-top: -100px;
  }
  .fn-service-main .fn-service-satu {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
    box-sizing: border-box;
  }
  .fn-service-main .fn-service-satu .fn-images {
    margin-right: 10px;
    margin-top: -20px;
    margin-left: 20px;
  }
  .fn-service-main .fn-service-satu .fn-Advice {
    width: 100%;
  }
  .fn-service-main .fn-service-satu .fn-Advice .fn-fully-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    margin-top: 20px;
  }
  .fn-service-main .fn-service-satu .fn-Advice .fn-fully-desc {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    color: #7A7A7A;
    margin-top: 25px;
  }
  .fn-service-main .fn-service-dua {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
    box-sizing: border-box;
  }
  .fn-service-main .fn-service-dua .fn-images-profesional {
    margin-right: 10px;
    margin-top: -20px;
    margin-left: 20px;
  }
  .fn-service-main .fn-service-dua .fn-profesional-main {
    width: 100%;
  }
  .fn-service-main .fn-service-dua .fn-profesional-main .fn-profesional-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    margin-top: 20px;
  }
  .fn-service-main .fn-service-dua .fn-profesional-main .fn-profesional-desc {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    color: #7A7A7A;
    margin-top: 25px;
  }
  .fn-service-main .fn-service-tiga {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
    box-sizing: border-box;
  }
  .fn-service-main .fn-service-tiga .fn-images-trasparent {
    margin-right: 10px;
    margin-top: -20px;
    margin-left: 20px;
  }
  .fn-service-main .fn-service-tiga .fn-trasparent-main {
    width: 100%;
  }
  .fn-service-main .fn-service-tiga .fn-trasparent-main .fn-trasparent-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    margin-top: 20px;
  }
  .fn-service-main .fn-service-tiga .fn-trasparent-main .fn-trasparent-desc {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    color: #7A7A7A;
    margin-top: 25px;
  }
}
@media screen and (max-width: 578px) {
  .fn-service-main {
    flex-direction: column;
    margin: 0;
    margin-top: -100px;
  }
  .fn-service-main .fn-service-satu {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .fn-service-main .fn-service-satu .fn-Advice {
    width: 100;
    max-width: 100%;
  }
  .fn-service-main .fn-service-satu .fn-Advice .fn-fully-desc {
    font-size: 14px;
  }
  .fn-service-main .fn-service-dua {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .fn-service-main .fn-service-dua .fn-profesional-main {
    width: 100%;
  }
  .fn-service-main .fn-service-dua .fn-profesional-main .fn-profesional-desc {
    font-size: 14px;
  }
  .fn-service-main .fn-service-tiga {
    width: 100%;
    max-width: 100%;
  }
  .fn-service-main .fn-service-tiga .fn-trasparent-main {
    width: 100%;
  }
  .fn-service-main .fn-service-tiga .fn-trasparent-main .fn-trasparent-desc {
    font-size: 14px;
  }
}

.fn-services-main {
  width: 100%;
  max-width: 100%;
  margin-top: -50px;
}

.fn-services-satu {
  width: 50%;
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: -150px;
}
.fn-services-satu .fn-services-title {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-services-satu .divider {
  line-height: 1.5em;
}
.fn-services-satu .fn-services-desc {
  font-family: "Poppins", Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #333;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .fn-services-satu {
    width: 100%;
    max-width: 100%;
    margin-top: 200px;
  }
}
@media screen and (max-width: 578px) {
  .fn-services-satu {
    width: 100%;
    max-width: 100%;
    margin-top: -6000px;
  }
  .fn-services-satu .fn-services-desc {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: #333;
    margin-top: 20px;
  }
  .fn-services-satu .fn-services-title {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
  }
}

.fn-financial-main {
  display: flex;
  margin-top: 0px;
  margin-top: -10px;
}
.fn-financial-main .fn-planning-satu {
  width: 33%;
  max-width: 33%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 212px;
  border-top: 5px solid #2D487C;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.fn-financial-main .fn-planning-satu .fn-images-palnning {
  margin-right: 20px;
}
.fn-financial-main .fn-planning-satu .fn-planing-main {
  width: 65%;
}
.fn-financial-main .fn-planning-satu .fn-financial-title {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-financial-main .fn-planning-satu .fn-financial-desc {
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 20px;
}
.fn-financial-main .fn-planning-satu .fn-financial-buton {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 30px;
}
.fn-financial-main .fn-planning-satu .fn-financial-buton a {
  text-decoration: none;
  color: #2D487C;
  margin-right: 20px;
}
.fn-financial-main .fn-planning-satu .fn-financial-buton a .fa-arrow-right {
  margin-left: 10px;
}
.fn-financial-main .fn-planning-satu .fn-financial-buton a:hover {
  color: #E98970;
}
.fn-financial-main .fn-planning-dua {
  width: 33%;
  max-width: 33%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 212px;
  border-top: 5px solid #2D487C;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  margin: 0 20px;
}
.fn-financial-main .fn-planning-dua .fn-images-Audit {
  margin-right: 20px;
}
.fn-financial-main .fn-planning-dua .fn-Audit-main {
  width: 65%;
}
.fn-financial-main .fn-planning-dua .fn-Audit-title {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-financial-main .fn-planning-dua .fn-Audit-desc {
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 20px;
}
.fn-financial-main .fn-planning-dua .fn-Audit-buton {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 30px;
}
.fn-financial-main .fn-planning-dua .fn-Audit-buton a {
  text-decoration: none;
  color: #2D487C;
  margin-right: 20px;
}
.fn-financial-main .fn-planning-dua .fn-Audit-buton a .fa-arrow-right {
  margin-left: 10px;
}
.fn-financial-main .fn-planning-dua .fn-Audit-buton a:hover {
  color: #E98970;
}
.fn-financial-main .fn-planning-tiga {
  width: 33%;
  max-width: 33%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 212px;
  border-top: 5px solid #2D487C;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.fn-financial-main .fn-planning-tiga .fn-images-Asurance {
  margin-right: 20px;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-main {
  width: 65%;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-title {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-desc {
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 20px;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-buton {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 30px;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-buton a {
  text-decoration: none;
  color: #2D487C;
  margin-right: 20px;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-buton a .fa-arrow-right {
  margin-left: 10px;
}
.fn-financial-main .fn-planning-tiga .fn-Asurance-buton a:hover {
  color: #E98970;
}
@media screen and (max-width: 768px) {
  .fn-financial-main {
    flex-direction: column;
  }
  .fn-financial-main .fn-planning-satu {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 250px;
    box-sizing: border-box;
  }
  .fn-financial-main .fn-planning-satu .fn-images-palnning {
    margin-right: 20px;
  }
  .fn-financial-main .fn-planning-satu .fn-planing-main {
    width: 100%;
  }
  .fn-financial-main .fn-planning-satu .fn-financial-title {
    margin-top: 20px;
  }
  .fn-financial-main .fn-planning-satu .fn-financial-desc {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-satu .fn-financial-buton {
    margin-top: 35px;
  }
  .fn-financial-main .fn-planning-dua {
    width: 100%;
    max-width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 250px;
    box-sizing: border-box;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-main {
    width: 100%;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-title {
    margin-top: 20px;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-desc {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-buton {
    margin-top: 35px;
  }
  .fn-financial-main .fn-planning-tiga {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    height: 250px;
    box-sizing: border-box;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-main {
    width: 100%;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-title {
    margin-top: 20px;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-desc {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-buton {
    margin-top: 35px;
  }
}
@media screen and (max-width: 578px) {
  .fn-financial-main {
    flex-direction: column;
  }
  .fn-financial-main .fn-planning-satu {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 270px;
    box-sizing: border-box;
  }
  .fn-financial-main .fn-planning-satu .fn-images-palnning {
    margin-right: 20px;
  }
  .fn-financial-main .fn-planning-satu .fn-planing-main {
    width: 100%;
  }
  .fn-financial-main .fn-planning-satu .fn-financial-title {
    margin-top: 20px;
  }
  .fn-financial-main .fn-planning-satu .fn-financial-desc {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-satu .fn-financial-buton {
    margin-top: 35px;
  }
  .fn-financial-main .fn-planning-dua {
    width: 100%;
    max-width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 270px;
    box-sizing: border-box;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-main {
    width: 100%;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-title {
    margin-top: 20px;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-desc {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-dua .fn-Audit-buton {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-tiga {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    height: 270px;
    box-sizing: border-box;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-main {
    width: 100%;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-title {
    margin-top: 20px;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-desc {
    margin-top: 25px;
  }
  .fn-financial-main .fn-planning-tiga .fn-Asurance-buton {
    margin-top: 25px;
  }
}

.fn-container-main {
  display: flex;
  margin-top: 20px;
  margin-bottom: 300px;
}
.fn-container-main .fn-planning-satu {
  width: 33%;
  max-width: 33%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 212px;
  border-top: 5px solid #2D487C;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
.fn-container-main .fn-planning-satu .fn-images-palnning {
  margin-right: 20px;
}
.fn-container-main .fn-planning-satu .fn-planing-main {
  width: 65%;
}
.fn-container-main .fn-planning-satu .fn-financial-title {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-container-main .fn-planning-satu .fn-financial-desc {
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 20px;
}
.fn-container-main .fn-planning-satu .fn-financial-buton {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 30px;
}
.fn-container-main .fn-planning-satu .fn-financial-buton a {
  text-decoration: none;
  color: #2D487C;
  margin-right: 20px;
}
.fn-container-main .fn-planning-satu .fn-financial-buton a .fa-arrow-right {
  margin-left: 10px;
}
.fn-container-main .fn-planning-satu .fn-financial-buton a:hover {
  color: #E98970;
}
.fn-container-main .fn-planning-dua {
  width: 33%;
  max-width: 33%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 212px;
  border-top: 5px solid #2D487C;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  margin: 0 20px;
}
.fn-container-main .fn-planning-dua .fn-images-Audit {
  margin-right: 20px;
}
.fn-container-main .fn-planning-dua .fn-Audit-main {
  width: 65%;
}
.fn-container-main .fn-planning-dua .fn-Audit-title {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-container-main .fn-planning-dua .fn-Audit-desc {
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 20px;
}
.fn-container-main .fn-planning-dua .fn-Audit-buton {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 30px;
}
.fn-container-main .fn-planning-dua .fn-Audit-buton a {
  text-decoration: none;
  color: #2D487C;
  margin-right: 20px;
}
.fn-container-main .fn-planning-dua .fn-Audit-buton a .fa-arrow-right {
  margin-left: 10px;
}
.fn-container-main .fn-planning-dua .fn-Audit-buton a:hover {
  color: #E98970;
}
.fn-container-main .fn-planning-tiga {
  width: 33%;
  max-width: 33%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 212px;
  background: #f9f9f9;
}
.fn-container-main .fn-planning-tiga .fn-images-Asurance {
  margin-right: 20px;
}
.fn-container-main .fn-planning-tiga .fn-Asurance-main {
  width: 100%;
}
.fn-container-main .fn-planning-tiga .fn-Asurance-desc {
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 20px;
}
.fn-container-main .fn-planning-tiga .fn-button-Asurance {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  border: none;
  width: 156px;
  height: 46px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.fn-container-main .fn-planning-tiga .fn-button-Asurance:hover {
  background: #fd6039;
  box-shadow: -6px -6px 6px rgba(242, 182, 182, 0.75), 6px 6px 6px rgba(242, 182, 182, 0.75);
}
@media screen and (max-width: 768px) {
  .fn-container-main {
    flex-direction: column;
  }
  .fn-container-main .fn-planning-satu {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 250px;
    box-sizing: border-box;
  }
  .fn-container-main .fn-planning-satu .fn-images-palnning {
    margin-right: 20px;
  }
  .fn-container-main .fn-planning-satu .fn-planing-main {
    width: 100%;
  }
  .fn-container-main .fn-planning-satu .fn-financial-title {
    margin-top: 20px;
  }
  .fn-container-main .fn-planning-satu .fn-financial-desc {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-satu .fn-financial-buton {
    margin-top: 35px;
  }
  .fn-container-main .fn-planning-dua {
    width: 100%;
    max-width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 250px;
    box-sizing: border-box;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-main {
    width: 100%;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-title {
    margin-top: 20px;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-desc {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-buton {
    margin-top: 35px;
  }
  .fn-container-main .fn-planning-tiga {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    height: 192px;
    box-sizing: border-box;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-main {
    width: 100%;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-title {
    margin-top: 20px;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-desc {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-buton {
    margin-top: 35px;
  }
}
@media screen and (max-width: 578px) {
  .fn-container-main {
    flex-direction: column;
  }
  .fn-container-main .fn-planning-satu {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 270px;
    box-sizing: border-box;
  }
  .fn-container-main .fn-planning-satu .fn-images-palnning {
    margin-right: 20px;
  }
  .fn-container-main .fn-planning-satu .fn-planing-main {
    width: 100%;
  }
  .fn-container-main .fn-planning-satu .fn-financial-title {
    margin-top: 20px;
  }
  .fn-container-main .fn-planning-satu .fn-financial-desc {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-satu .fn-financial-buton {
    margin-top: 35px;
  }
  .fn-container-main .fn-planning-dua {
    width: 100%;
    max-width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    height: 270px;
    box-sizing: border-box;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-main {
    width: 100%;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-title {
    margin-top: 20px;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-desc {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-dua .fn-Audit-buton {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-tiga {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    height: 192px;
    box-sizing: border-box;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-main {
    width: 100%;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-title {
    margin-top: 20px;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-desc {
    margin-top: 25px;
  }
  .fn-container-main .fn-planning-tiga .fn-Asurance-buton {
    margin-top: 25px;
  }
}

.fn-about-main {
  width: 100%;
  max-width: 100%;
  margin-top: -100px;
  margin-bottom: 200px;
}

.fn-services-satu {
  width: 50%;
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: -150px;
}
.fn-services-satu .fn-services-title {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-services-satu .divider {
  line-height: 1.5em;
}
.fn-services-satu .fn-services-desc {
  font-family: "Poppins", Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #333;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .fn-services-satu {
    width: 100%;
    max-width: 100%;
    margin-top: 200px;
  }
}
@media screen and (max-width: 578px) {
  .fn-services-satu {
    width: 100%;
    max-width: 100%;
    margin-top: 200px;
  }
  .fn-services-satu .fn-services-desc {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: #333;
    margin-top: 20px;
  }
  .fn-services-satu .fn-services-title {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
  }
}

.fn-personal .bg {
  position: absolute;
  left: 860px;
  margin-top: -350px;
}
@media screen and (max-width: 992px) {
  .fn-personal .bg {
    left: 450px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .fn-personal .bg {
    left: 114px;
    margin-top: 0;
  }
}
@media screen and (max-width: 576px) {
  .fn-personal .bg {
    left: -10px;
    margin-top: 0;
  }
}

.fn-personal-fiance {
  display: flex;
  margin-bottom: 100px;
  margin-top: -90px;
}
.fn-personal-fiance .fn-personal-satu {
  width: 70%;
  max-width: 70%;
  margin-right: 40px;
}
.fn-personal-fiance .fn-personal-satu .meeting-satu {
  position: relative;
}
.fn-personal-fiance .fn-personal-satu .meeting-satu .fa-play-circle {
  position: absolute;
  color: #2D487C;
  top: 120px;
  left: 300px;
  opacity: 0.9;
}
.fn-personal-fiance .fn-personal-satu .meeting-satu .mmeting {
  width: 100%;
  box-shadow: 30px 30px #2D487C;
}
.fn-personal-fiance .fn-personal-dua {
  width: 40%;
  max-width: 40%;
  margin-left: 40px;
  margin-top: 40px;
}
.fn-personal-fiance .fn-personal-dua .fn-personal-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #2D487C;
}
.fn-personal-fiance .fn-personal-dua .paragrapf {
  width: 100%;
}
.fn-personal-fiance .fn-personal-dua .paragrapf .fn-personal-desc-satu {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #7A7A7A;
  margin-top: 20px;
}
.fn-personal-fiance .fn-personal-dua .paragrapf .fn-personal-desc-dua {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #7A7A7A;
}
.fn-personal-fiance .fn-personal-dua .fn-button-personal {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  display: block;
  border: none;
  width: 156px;
  height: 46px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}
.fn-personal-fiance .fn-personal-dua .fn-button-personal:hover {
  background: #fd6039;
  box-shadow: -6px -6px 6px rgba(242, 182, 182, 0.75), 6px 6px 6px rgba(242, 182, 182, 0.75);
}
@media screen and (max-width: 768px) {
  .fn-personal-fiance {
    flex-direction: column;
  }
  .fn-personal-fiance .fn-personal-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-personal-fiance .fn-personal-satu .mmeting {
    width: 100%;
    box-shadow: 30px 30px #2D487C;
  }
  .fn-personal-fiance .fn-personal-dua {
    width: 100%;
    max-width: 100%;
    margin-top: 90px;
    margin-left: 10px;
  }
  .fn-personal-fiance .fn-personal-dua .title {
    width: 80%;
  }
  .fn-personal-fiance .fn-personal-dua .paragrapf {
    width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .fn-personal-fiance {
    flex-direction: column;
  }
  .fn-personal-fiance .fn-personal-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-personal-fiance .fn-personal-satu .fa-play-circle {
    margin-left: -90px;
    margin-top: -30px;
  }
  .fn-personal-fiance .fn-personal-dua {
    width: 100%;
    max-width: 100%;
    margin-top: 70px;
  }
  .fn-personal-fiance .fn-personal-dua .paragrapf {
    width: 100%;
  }
  .fn-personal-fiance .fn-personal-dua .paragrapf .fn-personal-desc-satu {
    margin-top: 30px;
  }
}

.fn-choose-main {
  display: flex;
  margin-top: 300px;
  position: relative;
}
.fn-choose-main .fn-choose-satu {
  width: 37%;
  max-width: 37%;
  height: 669px;
  position: relative;
  top: 80px;
}
.fn-choose-main .fn-choose-satu .fn-title-choose {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-choose-main .fn-choose-satu .fn-desc-satu {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}
.fn-choose-main .fn-choose-satu .fa-check-circle {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #fab32f;
  font-size: 45px;
}
.fn-choose-main .fn-choose-satu .fn-desc-choose {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}
.fn-choose-main .fn-choose-dua {
  width: 31%;
  max-width: 31%;
  background: #f9f9f9;
  height: 276px;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 2px;
  border-radius: 5px;
  border: 1px solid silver;
  position: relative;
  z-index: 99999;
}
.fn-choose-main .fn-choose-dua .dost-satu {
  position: absolute;
  border: none;
}
.fn-choose-main .fn-choose-dua .dost {
  position: absolute;
  top: -190px;
  left: -80px;
  border: none;
}
.fn-choose-main .fn-choose-dua .fn-acount {
  width: 300px;
  height: 256px;
  margin-top: -30px;
  margin-left: -32px;
}
.fn-choose-main .fn-choose-dua .fn-acount .fn-title-acount {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
}
.fn-choose-main .fn-choose-dua .fn-acount .fn-desc-acount {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.fn-choose-main .fn-choose-tiga {
  width: 31%;
  max-width: 31%;
  height: 276px;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 10px;
  border: 1px solid silver;
  margin-top: -70px;
  border-radius: 5px;
}
.fn-choose-main .fn-choose-tiga .fn-quality {
  width: 300px;
  height: 256px;
  margin-top: -30px;
  margin-left: -32px;
}
.fn-choose-main .fn-choose-tiga .fn-quality .fn-title-acount {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
}
.fn-choose-main .fn-choose-tiga .fn-quality .fn-desc-acount {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .fn-choose-main {
    flex-direction: column;
  }
  .fn-choose-main .fn-choose-satu {
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-top: -300px;
  }
  .fn-choose-main .fn-choose-dua {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-top: -240px;
  }
  .fn-choose-main .fn-choose-dua .fn-acount {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
  .fn-choose-main .fn-choose-tiga {
    width: 100%;
    margin-top: 10px;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-left: 3px;
  }
  .fn-choose-main .fn-choose-tiga .fn-quality {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
}
@media screen and (max-width: 578px) {
  .fn-choose-main {
    flex-direction: column;
  }
  .fn-choose-main .fn-choose-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-choose-main .fn-choose-dua {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-top: -200px;
  }
  .fn-choose-main .fn-choose-dua .fn-acount {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
  .fn-choose-main .fn-choose-tiga {
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-left: 3px;
    margin-top: 10px;
  }
  .fn-choose-main .fn-choose-tiga .fn-quality {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
}

.fn-chooses-main {
  display: flex;
  margin-top: 0px;
  margin-top: -10px;
  margin-top: -300px;
}
.fn-chooses-main .fn-choose-satu {
  width: 37%;
  max-width: 37%;
  height: 669px;
}
.fn-chooses-main .fn-choose-satu .fn-title-choose {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-chooses-main .fn-choose-satu .fn-desc-satu {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}
.fn-chooses-main .fn-choose-satu .fa-check-circle {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #fab32f;
  font-size: 45px;
}
.fn-chooses-main .fn-choose-satu .fn-desc-choose {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}
.fn-chooses-main .fn-choose-dua {
  width: 31%;
  max-width: 31%;
  height: 276px;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 2px;
  border: 1px solid silver;
  margin-top: -80px;
  border-radius: 5px;
}
.fn-chooses-main .fn-choose-dua .fn-acount {
  width: 300px;
  height: 256px;
  margin-top: -30px;
  margin-left: -32px;
}
.fn-chooses-main .fn-choose-dua .fn-acount .fn-title-acount {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
}
.fn-chooses-main .fn-choose-dua .fn-acount .fn-desc-acount {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.fn-chooses-main .fn-choose-tiga {
  width: 31%;
  max-width: 31%;
  height: 276px;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 10px;
  background: #f9f9f9;
  margin-top: -150px;
  border-radius: 5px;
  border: 1px solid silver;
  position: relative;
}
.fn-chooses-main .fn-choose-tiga .dots1 {
  position: absolute;
  opacity: 1;
  background-color: #333;
  top: -90px;
  left: 30px;
}
.fn-chooses-main .fn-choose-tiga .fn-quality {
  width: 300px;
  height: 256px;
  margin-top: -30px;
  margin-left: -32px;
  position: relative;
}
.fn-chooses-main .fn-choose-tiga .fn-quality .fn-title-acount {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
}
.fn-chooses-main .fn-choose-tiga .fn-quality .fn-desc-acount {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .fn-chooses-main {
    flex-direction: column;
  }
  .fn-chooses-main .fn-choose-satu {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .fn-chooses-main .fn-choose-dua {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-top: -360px;
  }
  .fn-chooses-main .fn-choose-dua .fn-acount {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
  .fn-chooses-main .fn-choose-tiga {
    width: 100%;
    margin-top: 10px;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-left: 0;
  }
  .fn-chooses-main .fn-choose-tiga .fn-quality {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
}
@media screen and (max-width: 578px) {
  .fn-chooses-main {
    flex-direction: column;
  }
  .fn-chooses-main .fn-choose-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-chooses-main .fn-choose-dua {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-top: -360px;
  }
  .fn-chooses-main .fn-choose-dua .fn-acount {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
  .fn-chooses-main .fn-choose-tiga {
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
    padding: 50px 0;
    height: 250px;
    margin-left: 3px;
    margin-top: 10px;
  }
  .fn-chooses-main .fn-choose-tiga .fn-quality {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
}

.fn-happy {
  background: #E98970;
  width: 100%;
  height: 668px;
}
.fn-happy .fn-happy-main {
  padding: 40px 0;
  box-sizing: border-box;
  margin-top: -350px;
}
.fn-happy .fn-happy-main .fn-client-satu {
  text-align: center;
}
.fn-happy .fn-happy-main .fn-client-satu .fn-client-title {
  color: #FFFFFF;
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 10px;
}
.fn-happy .fn-happy-main .fn-client-satu .divider {
  margin-left: 20px;
  margin-top: 20px;
}
.fn-happy .fn-happy-main .fn-client-container {
  margin-top: 100px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua {
  width: 50%;
  min-width: 50%;
  background: #FFFFFF;
  padding: 35px;
  height: 322px;
  box-sizing: border-box;
  border-top: 4px solid #2D487C;
  margin-right: 20px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .client-main {
  width: 480px;
  height: 248px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fa-star {
  color: #fab123;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fn-dest-client {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 30px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .image-client {
  margin-top: 40px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fn-image-client .team1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fn-name {
  margin-left: 5px;
  margin-top: 7px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fn-name .fn-name-satu {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  list-style: 1em;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fn-name .fn-name-1 {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  list-style: 1em;
  margin-top: -20px;
  margin-left: 3px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga {
  width: 50%;
  max-width: 50%;
  background: #FFFFFF;
  padding: 35px;
  height: 322px;
  box-sizing: border-box;
  border-top: 4px solid #2D487C;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .client-main-satu {
  width: 480px;
  height: 248px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fa-star {
  color: #fab123;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fn-dest-client {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 30px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .image-client-satu {
  margin-top: 40px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fn-image-client-dua .team2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fn-name {
  margin-left: 5px;
  margin-top: 7px;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fn-name .fn-name-dua {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  list-style: 1em;
}
.fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fn-name .fn-name-tiga {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  list-style: 1em;
  margin-top: -20px;
  margin-left: 3px;
}
@media (max-width: 992px) {
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua {
    width: 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua .client-main {
    width: 100%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua .fn-dest-client {
    font-size: 16px;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga {
    width: 50%;
    max-width: 50%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .client-main-satu {
    width: 100%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .image-client-satu {
    margin-top: 15px;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .fn-dest-client {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .fn-happy .fn-happy-main .fn-client-container {
    flex-direction: column;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua .client-main {
    width: 100%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga {
    width: 100%;
    max-width: 100%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .client-main-satu {
    width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .fn-happy .fn-happy-main .fn-client-container {
    flex-direction: column;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-dua .client-main {
    width: 100%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga {
    width: 100%;
    max-width: 100%;
  }
  .fn-happy .fn-happy-main .fn-client-container .fn-client-tiga .client-main-satu {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .fn-happy {
    height: 968px;
  }
  .fn-happy .fn-happy-main {
    margin-top: 140px;
  }
}

.fn-logoipsum {
  width: 100%;
  height: 155px;
  background: #F9F9F9;
  margin-bottom: 200px;
}
.fn-logoipsum .container-logo {
  display: flex;
}
.fn-logoipsum .fn-logoipsum-main {
  display: flex;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin-top: -15px;
}
.fn-logoipsum .fn-logoipsum-main .logo-satu {
  width: 25%;
  max-width: 25%;
}
.fn-logoipsum .fn-logoipsum-main .logo-dua {
  width: 25%;
  max-width: 25%;
  margin: 0 120px;
}
.fn-logoipsum .fn-logoipsum-main .container-logo-satu {
  margin-left: -50px;
}
.fn-logoipsum .fn-logoipsum-main .logo-tiga {
  width: 25%;
  max-width: 25%;
}
.fn-logoipsum .fn-logoipsum-main .logo-empat {
  width: 25%;
  max-width: 25%;
  margin: 0 120px;
}
@media screen and (max-width: 992px) {
  .fn-logoipsum {
    height: auto;
  }
  .fn-logoipsum .fn-logoipsum-main {
    flex-direction: column;
    margin-left: 100px;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo {
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo-satu {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo-satu .logo-tiga {
    margin: 0px;
  }
}
@media screen and (max-width: 768px) {
  .fn-logoipsum {
    height: auto;
  }
  .fn-logoipsum .fn-logoipsum-main {
    flex-direction: column;
    margin-left: -20px;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo {
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo .logo-satu {
    margin: 0 60px;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo-satu {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo-satu .logo-tiga {
    margin: 0 60px;
  }
}
@media screen and (max-width: 578px) {
  .fn-logoipsum {
    height: auto;
  }
  .fn-logoipsum .fn-logoipsum-main {
    flex-direction: column;
    margin-left: 0 px;
    width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo {
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo .logo-satu {
    margin: 0;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo-satu {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
  .fn-logoipsum .fn-logoipsum-main .container-logo-satu .logo-tiga {
    margin: 0;
  }
}

.fn-consulting-main {
  background: #2D487C;
  display: flex;
  height: 450px;
  margin-bottom: 200px;
}
.fn-consulting-main .fn-consulting-satu {
  width: 50%;
  max-width: 50%;
  padding: 50px;
}
.fn-consulting-main .fn-consulting-satu .fn-container {
  width: 95%;
  margin-top: 30px;
  margin-left: 25px;
}
.fn-consulting-main .fn-consulting-satu .fn-title {
  color: #FFFFFF;
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3em;
}
.fn-consulting-main .fn-consulting-satu .fn-desc {
  color: #FFFFFF;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
  position: relative;
}
.fn-consulting-main .fn-consulting-satu .fn-button-consulting {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  display: block;
  border: none;
  width: 135px;
  height: 50px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}
.fn-consulting-main .fn-consulting-satu .fn-button-consulting:hover {
  background: #fd6039;
  box-shadow: -6px -6px 6px rgba(242, 182, 182, 0.75), 6px 6px 6px rgba(242, 182, 182, 0.75);
}
.fn-consulting-main .fn-consulting-dua {
  width: 50%;
  max-width: 50%;
  position: relative;
  left: 5px;
}
.fn-consulting-main .fn-consulting-dua .bg-footer {
  position: absolute;
  top: -80px;
  width: 412px;
}
.fn-consulting-main .fn-consulting-dua .wooman-footer {
  position: relative;
  top: 60px;
  left: 40px;
}
@media screen and (max-width: 768px) {
  .fn-consulting-main {
    flex-direction: column;
    height: 870px;
    width: 100%;
    margin-top: -130px;
  }
  .fn-consulting-main .fn-consulting-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-consulting-main .fn-consulting-satu .fn-container {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .fn-consulting-main .fn-consulting-satu .fn-button-consulting {
    margin-left: 200px;
  }
  .fn-consulting-main .fn-consulting-dua {
    width: 100%;
    max-width: 100%;
    top: 70px;
  }
  .fn-consulting-main .fn-consulting-dua .bg-footer {
    position: absolute;
    top: -70px;
    left: 100px;
  }
  .fn-consulting-main .fn-consulting-dua .wooman-footer {
    position: relative;
    top: -60px;
    left: 100px;
    width: 412px;
  }
}
@media screen and (max-width: 578px) {
  .fn-consulting-main {
    flex-direction: column;
    height: 800px;
    margin-top: -130px;
  }
  .fn-consulting-main .fn-consulting-satu {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-left: 5px;
  }
  .fn-consulting-main .fn-consulting-satu .fn-container {
    width: 95%;
    max-width: 95%;
    text-align: center;
    margin-left: 0;
  }
  .fn-consulting-main .fn-consulting-satu .fn-button-consulting {
    margin-left: 150px;
  }
  .fn-consulting-main .fn-consulting-dua {
    width: 100%;
    max-width: 100%;
    left: 0px;
    top: 150px;
  }
  .fn-consulting-main .fn-consulting-dua .container-satu {
    width: 100%;
    left: 20px;
  }
  .fn-consulting-main .fn-consulting-dua .bg-footer {
    position: absolute;
    top: -70px;
    width: 355px;
    left: 50px;
  }
  .fn-consulting-main .fn-consulting-dua .wooman-footer {
    position: relative;
    top: -60px;
    left: 60px;
    width: 300px;
  }
}

.footer {
  background: #F9F9F9;
  height: 400px;
}
.footer .garis-biru {
  background: #2D487C;
  height: 5px;
  margin-top: 12px;
}
.footer .root-satu {
  width: 50%;
  max-width: 50%;
}
.footer .root-desc {
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.footer .root-dua {
  width: 50%;
  max-width: 50%;
}
.footer .root-dua .root-desc {
  margin-left: 470px;
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.footer .fn-footer-main {
  display: flex;
}
.footer .fn-footer-main .fn-footer-satu {
  width: 30%;
  max-width: 30%;
  margin-top: 100px;
}
.footer .fn-footer-main .fn-footer-satu .fn-desc-footer {
  margin-top: 20px;
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.footer .fn-footer-main .fn-footer-dua {
  width: 20%;
  max-width: 20%;
  margin-top: 100px;
}
.footer .fn-footer-main .fn-footer-dua .desc-title-satu {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
}
.footer .fn-footer-main .fn-footer-dua .fn-item-footer .link-footer {
  list-style: none;
}
.footer .fn-footer-main .fn-footer-dua .fn-item-footer a {
  text-decoration: none;
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.footer .fn-footer-main .fn-footer-dua .fn-item-footer a:hover {
  color: #E98970;
}
.footer .fn-footer-main .fn-footer-tiga {
  width: 20%;
  max-width: 20%;
  margin-top: 100px;
}
.footer .fn-footer-main .fn-footer-tiga .desc-title-tiga {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
}
.footer .fn-footer-main .fn-footer-tiga .fn-item-footer1 .link-footer {
  list-style: none;
}
.footer .fn-footer-main .fn-footer-tiga .fn-item-footer1 a {
  text-decoration: none;
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.footer .fn-footer-main .fn-footer-tiga .fn-item-footer1 a:hover {
  color: #E98970;
}
.footer .fn-footer-main .fn-footer-empat {
  width: 25%;
  max-width: 25%;
  margin-top: 100px;
}
.footer .fn-footer-main .fn-footer-empat .desc-title-empat {
  color: #2D487C;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}
.footer .fn-footer-main .fn-footer-empat .fn-item-footer2 .link-footer {
  list-style: none;
}
.footer .fn-footer-main .fn-footer-empat .fn-item-footer2 a {
  text-decoration: none;
  color: #7A7A7A;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.footer .fn-footer-main .fn-footer-empat .fn-item-footer2 a:hover {
  color: #E98970;
}
.footer .fn-footer-main .fn-footer-empat .fn-button-footer {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  display: block;
  border: none;
  width: 135px;
  height: 50px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 20px;
}
.footer .fn-footer-main .fn-footer-empat .fn-button-footer:hover {
  background: #fd6039;
  box-shadow: -6px -6px 6px rgba(242, 182, 182, 0.75), 6px 6px 6px rgba(242, 182, 182, 0.75);
}
@media screen and (max-width: 768px) {
  .footer .fn-footer-main {
    flex-direction: column;
  }
  .footer .fn-footer-main .fn-footer-satu {
    width: 100%;
    max-width: 100%;
  }
  .footer .fn-footer-main .fn-footer-satu .fn-desc-footer {
    margin-left: 10px;
  }
  .footer .fn-footer-main .fn-footer-satu .container-satu {
    width: 100%;
  }
  .footer .fn-footer-main .fn-footer-satu .container-satu .footer-img {
    margin-left: 10px;
    margin-top: -20px;
  }
  .footer .fn-footer-main .fn-footer-dua {
    width: 100%;
    max-width: 100%;
    margin-left: -40px;
    margin-top: 20px;
    margin-left: -40px;
  }
  .footer .fn-footer-main .fn-footer-tiga {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: -40px;
  }
  .footer .fn-footer-main .fn-footer-empat {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: -40px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer .Root {
    flex-direction: column;
    text-align: center;
  }
  .footer .Root .root-satu {
    width: 100%;
    max-width: 100%;
  }
  .footer .Root .root-dua {
    width: 100%;
    max-width: 100%;
  }
  .footer .Root .root-dua .root-desc {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
