*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
   
    
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

  

    ul{
        transition: 1s;
        .fn-item-active {
        text-decoration: none;
        font-family: 'Poppins' ,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #E98970;

        @media (max-width:990px)
        {

           
           & {
             margin-top: 20px;
              width: 100%;
              height: 45px;
              background-color: #E98970;
              color: #FFFFFF;
              display: flex;
              align-items: center;
              padding: 8px;
              box-sizing: border-box;
              border-radius: 3px;

           }
       }
      
        }

        li {
            margin: 0 20px;
            padding: 5px 0;
           

            &:hover {  
                color:#E98970;
                }
            
            
       .nav-link {
       

        
        
        
        &:hover {
           background-color: #E98970 ;
           
         }
        

 }
      
     
       .dropdown-item 
       {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        color: rgb(27, 25, 25);
        font-family: 'Poppins' ,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        border-radius: 5px;
        transition: 1s;
       

        &:hover {
           color: white;
            background-color:#E98970;
        }
       
       }

        
       .fn-item {
           text-decoration: none;
           font-family: 'Poppins' ,sans-serif;
           font-style: normal;
           font-weight: 400;
           font-size: 15px;
           color:#2D487C;
           text-decoration: none;
           &:hover {
            color: #E98970;

        }


            @media (max-width:990px)
             {

                
                & {
                   width: 100%;
                   height: 45px;
                   padding: 8px;
                   box-sizing: border-box;
                   display: flex;
                   align-items: center;
                   border-radius: 5px;
                   transition: 1s;

                   &:hover {
                    color: white;
                     background-color:#E98970;
                 }

                }
            }
           
        
       }


    }
}


    @media screen and (max-width :768px) {
    &  {
        max-width: 700px;
    }
     
 }

    @media screen and (max-width :578px) {
        &  {
            max-width: 500px;
        }
         
     }
    
}

nav {
    background: white;
} 

.navbar-toggler {
    background: #4a7cd8;
    color: #FFFFFF;
}



.fa-paper-plane {
    margin-left: 10px;
}

.btn {
    width: 159;
    height: 46px;
    background-color:#E98970;
    color: white;
    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    &:hover{
        box-shadow: -6px -6px 6px rgba(242, 182, 182,0.75),
    6px 6px 6px rgba(242, 182, 182,0.75);
    }
}

//fn-header//@at-root

.fn-hero-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 1500px;
    margin-top: -250px;
    background-image: linear-gradient(white 37%,#E2ECFF 100%,white 150%);
    .fn-hero-left{
        margin-top: 170px;
        max-width: 50%;
        width: 50%;
        margin-top: 150px;        
        .fn-hero-title{
            font-family: 'Poppins',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 54px;
            line-height: 60px;
            color: #2D487C;
        }
    
        .fn-hero-desc{
            font-family: 'Poppins',sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-top: 25px;
    
        }
        .fn-button-primary{
            z-index: 1;
            border: none;
            width: 155px;
            height: 53px;
            background: #E98970;
            border-radius: 5px;
            font-family: 'Poppins',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 50px;
            /* identical to box height */
            text-align: center;
            color: #FFFFFF;
            margin-top: 50px;
            letter-spacing: 1px;
            animation: animasi 2s steps(70, end) ;
            overflow: hidden;
           &:hover{
            background: #fd6039;
            box-shadow: -6px -6px 6px rgba(242, 182, 182,0.75),
                         6px 6px 6px rgba(242, 182, 182,0.75);
            
           }
        } 
    }

    .fn-hero-right{
       max-width: 40%;
       width: 40%;
       margin-top: 150px;
       position: relative;


       .fn-circle {
          position: absolute;
          left: -50px;
          top: -25px;
          width: 20%;
       }

       .fn-trigle {
           position: absolute;
           left: -80px;
           top: 400px;
           width: 35%;
       }
      
      

        .fn-hero-images {
            position: absolute;
            left: 380px;
            top:-35px;
            width: 20%;

        }

       .fn-hero-image{
            width:100% ;
            box-shadow: 25px 25px  #f18469;;
            z-index: 999;
            position: relative;
        }
    }

    @media screen and (max-width :768px){ 

        & {
            width: 100%;
            max-width: 100%;
            margin-top: -80px;
           
        }
        & .fn-hero-left {
            width: 100%;
            max-width: 100%;
            margin-top: 130px;
            text-align: center;

            .fn-hero-title{
            font-size: 32px;
            line-height: 1.3em;
            margin-bottom: 12px;
            }
        }

        & .fn-hero-right {
            width: 100%;
            max-width: 100%;
            margin-top: -30px;

      
             .fn-trigle {
                 position: absolute;
                 left: -80px;
                 top: 600px;
                 width: 35%;
                 width: 25%;
             }

            .fn-hero-images {
              
                left: 570px;
                top:-45px;
                width: 20%;
    
            }
        }
    }

    @media screen and (max-width :578px){
        & {
            margin-top: 0px;
            width: 100%;
            max-width: 100%;
        }
        & .fn-hero-left {
            width: 100%;
            max-width: 100%;
            margin-top: 150px;

            .fn-hero-title{
                font-size: 23px;
                line-height: 1.3em;
                margin-bottom: 12px;
            }
        }

        & .fn-hero-right {
            width: 100%;
            max-width: 100%;
        }
    }
}

//fn-service//@at-root
 
.fn-service-main{
    display: flex ;
    align-items: center;
    margin-top: 90px;
    justify-content: center;
    margin-top: -150px;
    position: relative;
    top: 60px;
    margin-bottom: 300px;
    
    .fn-service-satu {
        max-width: 30%;
        width: 30%;
        display: flex;
        border: 1px solid rgb(247, 245, 245);
        height: 165px;
        padding: 20px;
        box-sizing: border-box;
        background-color: white;

    .fn-images {
        margin-right: 20px;
    } 
    
    .fn-Advice {
        width: 200px;
        height: 72px;
        .fn-fully-title {
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2em;
        }
        .fn-fully-desc {
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.2em; 
            color: #7A7A7A;
            margin-top: 25px; 
        }
    }
  }

  .fn-service-dua{
        max-width: 30%;
        width: 30%;
        display: flex;
        border: 1px solid rgb(247, 245, 245);
        height: 165px;
        padding: 20px;
        box-sizing: border-box;
        background-color: white;
        margin: 0 20px;
      

        .fn-images-profesional {
            margin-right: 20px;
        } 
        
        .fn-profesional-main {
            width: 200px;
            height: 72px;
            .fn-profesional-title {
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2em;
            }
            .fn-profesional-desc {
                font-family: "Poppins", Sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.2em; 
                color: #7A7A7A;
                margin-top: 25px; 
            }
        }
}

  .fn-service-tiga{
    max-width: 30%;
        width: 30%;
        display: flex;
        border: 1px solid rgb(247, 245, 245);
        height: 165px;
        padding: 20px;
        box-sizing: border-box;
        background-color: white;

    &:hover{
        background: #F7F6F6;
        
       } 

       .fn-images-trasparent {
        margin-right: 20px;
    } 
    
    .fn-trasparent-main {
        width: 200px;
        height: 72px;
        .fn-trasparent-title {
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2em;
        }
        .fn-trasparent-desc {
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.2em; 
            color: #7A7A7A;
            margin-top: 25px; 
        }
    }


  }

  @media screen and (max-width :768px) {
    &{
        flex-direction: column;
        margin: 0;
        margin-top: -100px;
       
    } 
    
    & .fn-service-satu {
        max-width:90%;
        width: 90%;
        height: 90%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        padding: 40px;
        box-sizing: border-box;
     
        .fn-images {
            margin-right: 20px;
        } 
        
        .fn-Advice {
            width: 100%;
            height: 72px;
            .fn-fully-title {
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2em;
            }
            .fn-fully-desc {
                font-family: "Poppins", Sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.2em; 
                color: #7A7A7A;
                margin-top: 25px; 
            }
        }
     
        
    }
    & .fn-service-dua {
        max-width:90%;
        width: 90%;
        margin: 0;
        

        .fn-financial-title {
            font-size: 16px;
            line-height: 1.3em;
        }

        .fn-financial-desc {
            font-size: 14px;
            line-height: 1.2em;
          }
    }

    & .fn-service-tiga {
        max-width: 90%;
        width: 90%;
       
        .fn-loan-title {
            font-size: 16px;
            line-height: 1.3em;
        }

        .fn-loan-desc {
            font-size: 14px;
            line-height: 1.2em;
          }
    }
      
  }
  @media  screen and (max-width :578px) {
     
    &{
        flex-direction: column;
        margin: 0;
       
    }
    & .fn-service-satu {
        width: 90%;
        max-width: 90%;
        margin-bottom: 20px;

        .fn-servis-title {
         font-size: 25px;
      }   

    }

    & .fn-service-dua {
        width: 90%;
        max-width: 90%;
        margin-bottom: 20px;

        .fn-financial-title {
            font-size: 25px;
         }  

        .fn-financial-desc {
        line-height: 1.2em;
          
     }
      
    }

    & .fn-service-tiga {
        width: 90%;
        max-width: 90%; 

        .fn-loan-title {
            font-size: 25px;
         }  
        
        .fn-loan-desc {
            line-height: 1.2em;
              
         }
    }
      
  }
}

.fn-services-main {
    width: 100%;
    max-width: 100%;
    position: relative;
    
}

.fn-services-satu {
    width: 50%;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: -150px;

  .fn-services-title {
    color: #2D487C;
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3em;
  }

  .divider {
    line-height: 1.5em; 
    
  }
  .fn-services-desc {
    font-family: "Poppins", Sans-serif;  
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #333;
    margin-top: 20px; 
}

}

